@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --sbackground: #F8FAFC;
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 300dvh;
}